{% extends 'dcc_colab/base.html'%}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h2>Escolha uma das disciplinas que deseja</h2>
    </div>
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th>Disciplina</th>
            </tr>
            {% for course in courses %}
                <tr>
                    <td><a href="/course?id={{course.id}}">{{course}}</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
